onebusaway-king-county-metro

  We provide a couple of libraries for dealing with data from {{{http://metro.kingcounty.gov/}King County Metro Transit}}.
  
* Legacy AVL to SIRI

#set( $avl_url = 'http://nexus.onebusaway.org/service/local/artifact/maven/content?r=public&g=org.onebusaway&a=onebusaway-king-county-metro-legacy-avl-to-siri&e=zip&c=rpm&v=' + ${currentVersion} )

  * Download {{{${avl_url}}onebusaway-king-county-metro-legacy-avl-to-siri-rpm-${currentVersion}.zip}}
* Fixing the KCM GTFS

  The KCM GTFS, {{{http://metro.kingcounty.gov/GTFS/}available here}}, has a couple of issues out of the box that need
attention.  Fortunately, we have an automated process that attempts to address most of them.  To get started, you need
to download a couple of items:

#set( $transform_url = 'http://developer.onebusaway.org/modules/onebusaway-gtfs-modules/' + ${onebusaway_gtfs_version} + '/onebusaway-gtfs-transformer-cli.html' )

#set( $url = 'http://nexus.onebusaway.org/service/local/artifact/maven/content?r=public&g=org.onebusaway&a=onebusaway-king-county-metro-gtfs&v=' + ${currentVersion} )

  * The current {{{${url}}onebusaway-king-county-metro-gtfs.jar}}

  * The current {{{${transform_url}}onebusaway-gtfs-transformer-cli.jar}}
  
  * The current {{{http://metro.kingcounty.gov/GTFS/}King County Metro GTFS}}
  
  <<NOTE:>> There is a bug in the pattern_pairs.txt file included with KCM GTFS that you unfortunately need to fix by
hand before you can proceed with the primary fix.  Unzip the feed, edit pattern_pairs.txt and add the following to the
end of the very first line of the file: ",change_date".  Annoying, I know.  Use the directory where you expanded the
GTFS feed as the <<<path/to/original_gtfs>>> in the command-line below.
  
  When you have everything downloaded and ready to go, run the following command:  

+---+
java \
 -server \
 -Xmx1G \
 -classpath onebusaway-gtfs-transformer-cli.jar:onebusaway-king-county-metro-gtfs.jar \
 org/onebusaway/gtfs_transformer/GtfsTransformerMain \
 --transform='json:{"op":"transform","class":"org.onebusaway.king_county_metro_gtfs.transformations.KingCountyMetroStrategy"}' \
 path/to/original_gtfs \
 path/to/updated_gtfs
+--+

  What exactly gets fixed?

  * The big one: we fix the problem with through-routes that switch from one route to another in the middle of service,
such as a route running through downtown.  Right now, the GTFS data from KCM incorrectly indicates where those route
transitions happen, which leads to a lot of confusion for riders.  We use the information in pattern_pairs.txt and from
other sources to fix this issue.

  * The other big one: we fix the problem with frequency-based routes.  Right now, that's mostly Rapid Ride A.  The KCM
feed includes both the frequency-based trips and headway information AND the entire actual fixed schedule as well.  This
leads to a lot of overlapping information and confusion.  We remove the duplicate fixed-schedule trips, leaving just the
frequency-based trips.