html,body {
	margin: 0;
	padding: 0
}

body {
	background: #fff;
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #000;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,img,small,strike,sub,sup,tt,dd,dl,dt,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

/****
 *
 ****/

ul.tabs {
	font-size: 13px;
	float: right;
	margin: 0;
	list-style: none outside none;
}

ul.tabs li {
	display: block;
	float: left;
	line-height: 1
}

ul.tabs li a {
	display: block;
	font-weight: bold;
	width: 90px;
	text-align: center;
	padding: 8px 0px 8px 0px;
	border-left: 1px solid #eee;
	text-decoration: none;
	color: #333;
	cursor: pointer
}

ul.tabs li.current a {
	background: #78AA36;
	color: #fff;
	border: 0;
	margin: 0;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
	text-align: center;
	\-webkit-border-bottom-left-radius: 3px;
	\-webkit-border-bottom-right-radius: 3px;
	\-moz-border-radius: 0 0 3px 3px;
	position: relative;
	z-index: 2
}

ul.tabs li span {
	display: block;
	font-size: 16px;
	line-height: 1;
	font-weight: bold
}

a#headerTitle, a#headerTitle:visited {
	font-weight: bold;
	font-size: 32px;
	position: relative;
	top: 5px;
	color: black;
	text-decoration: none;
}

/****
 *
 ****/
 
p {
	margin:0 0 1em;
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
	font-weight: bold
}

h1,h2,h3 {
	letter-spacing: -1px
}

h1 {
	font-size: 45px;
	line-height: 1;
	margin: 0 0 9px
}

h2 {
	font-size: 30px;
	line-height: 1.2;
	margin: 9px 0
}

h3 {
	font-size: 24px;
	line-height: 1;
	margin: 3px 0 9px
}

h4 {
	font-size: 18px;
	line-height: 1;
	margin: 3px 0 9px 0;
}

h5 {
	font-size: 14px;
	line-height: 18px
}

h6 {
	font-size: 13px;
	line-height: 18px
}

/****
 *
 ****/
.column-row,.row {
	margin: 0 0 18px -20px
}

.column,.columns {
	float: left;
	display: inline;
	margin: 0 0 0 20px
}

.column-row:after,.row:after,.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .column-row,* html .row,* html .clearfix {
	height: 1%
}

.column-row,.row,.clearfix {
	display: inline-block
}

.column-row,.row,.clearfix {
	display: block
}

.one-third {
	width: 300px
}

/****
 *
 ****/
 
div#header {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 1em;
}

table.alertsTable {
	width: 100%;
}

table.alertsTable > thead > tr {
  background-color: #6D6E72;
}

table.alertsTable > thead > tr > td {
    color: white;
    font-weight: bold;
    padding: 5px 5px 5px 1em;
    
}

table.alertsTable > tbody > tr > td {
	padding: 5px 1em 0 1em;
}

/****
 *
 ****/
 
div.routeMap {
	width: 200px;
	height: 200px;
}

div.alertConfiguration {
	position: relative;
} 

.alertConfiguration-Map {
	width: 200px;
	height: 200px;	
}

table.alertConfiguration {
	position: absolute;
	left: 220px;
	top: 0px;	
}